<html>
    <body>
        <a href="{{url_for('index')}}">Home</a><br>
        <a href="{{url_for('insert')}}">Add new elements</a><br>
        <a href="{{url_for('edit')}}">Edit some entries</a><br>

        <form action="{{url_for('delete')}}" method="POST">
            <label for="name">Entry to Delete: </label><br>
            <input type="text" name="name" id="name">
            <input type = 'submit' value = 'Delete'/>
        </form>
        <table border=5 style="float:right;">  
            <thead>  
                <td>Name</td>  
                <td>Colour</td>  
                <td>Opinion</td>  
            </thead>  
              
            {% for row in all_rows %}   
                <tr>  
                    <td>{{row[0]}}</td>  
                    <td>{{row[1]}}</td>  
                    <td>{{row[2]}}</td>  
                </tr>  
            {% endfor %}
        </table>  
        <br><br>  
    </body>
</html>
